input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -2.1px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffff00;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 9.8px 9.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 9.8px rgba(13, 13, 13, 0.49);
  border: 0.9px solid #4b4856;
  height: 27px;
  width: 50px;
  border-radius: 12px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 2.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffff6b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffff00;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 9.8px 9.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 9.8px rgba(13, 13, 13, 0.49);
  border: 0.9px solid #4b4856;
  height: 27px;
  width: 50px;
  border-radius: 12px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #949400;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffff00;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 9.8px 9.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 9.8px rgba(13, 13, 13, 0.49);
  border: 0.9px solid #4b4856;
  width: 50px;
  border-radius: 12px;
  background: #ff0000;
  cursor: pointer;
  height: 27px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffff00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffff6b;
}
